#btnReview {
  color: honeydew;
}

#card {
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: 0.5rem solid grey;
  border-radius: 2rem;
  height: 30rem;
}

.vcenter-items {
  display: flex;
  align-items: center;
}
